html {
  font-size: 10px; /* px 은 'pixels' 를 의미합니다: 기본 글자 크기는 현재 10 pixels 높이입니다. */
  font-family:'Roboto Condensed', sans-serif;
    }
.css-selector {
  font-family: 'Roboto Condensed', sans-serif;}
    
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #ce1dff;
    text-shadow: 3px 3px 3px black;
  }
  
  
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  }
  html {
    background-color: #ffc3e8;
  }  
  

  body {
    width: 600px;
    margin: 0 auto ;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(44, 11, 69);
  }
  
